<form action="{{ path('tk_list_shopping_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    {{ form_row(form.name) }}

    {{ form_rest(form) }}

    <input type="submit" />
</form>