{% extends 'TkUserBundle::frame.html.twig' %}

{% block stylesheets %}
 {{ parent() }}
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="span10 offset1">
				<h1>{{ app.user.username }} - Profile</h1>
			</div>
		</div>
		<div class="row">
			<div class="span4 offset1">
				<div class="box">
					{% block profile %}
						<h2>{{ app.user.username }}</h2>
						<img src="{{ asset('uploads/profile-pictures/profile-pic.png') }}">
						<p>{{ app.user.members|length }} groups</p>
						{% if app.user.firstname != null or app.user.lastname != null %}
							<p>Name: {{ app.user.firstname }} {{ app.user.lastname }} </p>
						{% else %}
							<p>Name: not specified ... </p>
						{% endif %}
						<p>Email : {{ app.user.email }}</p>
						{% if app.user.nationality != null %}
							<p>Nationality: {{ app.user.nationality }}</p>
						{% else %}
							<p>Nationality: not specified ... </p>
						{% endif %}
						{% if app.user.city != null %}
							<p>City: {{ app.user.city }}</p>
						{% else %}
							<p>City: not specified ... </p>
						{% endif %}
						{% if app.user.country != null %}
							<p>Country: {{ app.user.country }}</p>
						{% else %}
							<p>Country: not specified ... </p>
						{% endif %}
						<a href="{{ path('tk_user_profile_edit', { 'id' : app.user.id }) }}">Edit profile information</a>
					{% endblock profile %}
				</div>
			</div>
			<div class="span6">
				<div class="box">
					<h2>Summary of your groups</h2>
					{% for member in app.user.members %}
						<div>
							<a href="{{ path('tk_group_goto_member', { 'id' : member.id }) }}">
								<strong>{{ member.tgroup.name }}</strong>
							</a>
							<small>opened on {{ member.tgroup.date| date('d/m/y') }}</small>
						</div>
						<div class="row">
							<div class="span2">
								<p>Total paid: {{ member.tgroup.totalPaid }}€</p>
								<p>Your balance: {{ balances[member.tgroup.id] }}€</p>
							</div>
							<div class="span2">
								<p>To-do(s): {{ member.tgroup.todos|length }}</p>
								<p>Pending: {{ member.tgroup.activeTodos|length }}</p>
							</div>
							<div class="span2">
								<p>Shopping list: {{ member.tgroup.shoppingitems|length }} item(s)</p>
								<p>Still missing: {{ member.tgroup.activeShoppingItems|length }}</p>
							</div>
						</div>
					{% endfor %}
					<div class="row">
						<div class="span6">
							<a href="#" class="btn btn-link">See closed groups (0)</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span2 offset7">
				<a class="btn" href="{{ path('tk_group_new') }}">+ Start a new group</a>
			</div>
		</div>
	</div>
{% endblock %}