{% extends 'TkUserBundle::frame.html.twig' %}

{% block stylesheets %}
 {{ parent() }}
 <link href="{{ asset('css/user-info.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
<div class="container">
	<div class="row">
		<div class="span4">
		</div>
		<div class="span4" style="text-align: center">
			<div>
				<a href="#uploadPictureModal" role="button"	 data-toggle="modal"><img src="{{ asset(app.user.picture.path) }}" width="70px" alt="profile picture"/></a>
			</div>
			{% include 'TkUserBundle:Profile:uploadPictureModal.html.twig' %}
			<div>
				<div>{{app.user}}</div>
				<div>{{app.user.firstname}} {{app.user.lastname}}</div>
			</div>
		</div>
		<div class="span4">
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
	<div class="row">
		<div id="user-info" class="span4 offset1">
			<div class="user-info-header">
				<h3>Your information</h3>
			</div>
						<div class="profile-info">
						 	<div class="info-icon">
						 		<i class="icon-thumbs-up-alt"></i>
						 	</div>
						 	<div class="info-text">
								{{ app.user.members|length }} Groups
						 	</div>
						 </div>


						 <div class="profile-info">
						 	<div class="info-icon">
						 		<i class="icon-smile"></i>
						 	</div>
						 	<div class="info-text">
						 		{{ app.user.friends|length }} Friends
						 	</div>
						 </div>
						 <br>
			
			<div>	
					{% block profile %}
					{% if app.user.firstname != null or app.user.lastname != null %}

						 <div class="profile-info">
						 	<div class="info-icon">
						 		<i class="icon-user"></i>
						 	</div>
						 	<div class="info-text">
						 		<p>{{ app.user.firstname }} {{ app.user.lastname }} </p>
						 	</div>
						 </div>

					{% else %}
						<div class="profile-info">
						 	<div class="info-icon">
						 		<i class="icon-user"></i>
						 	</div>
						 	<div class="info-text">
						 		<p> Edit your Name </p>
						 	</div>
						 </div>
					{% endif %}
						<div class="profile-info">
						 	<div class="info-icon">
						 		<i class="icon-envelope"></i>
						 	</div>
						 	<div class="info-text">
						 		<p> {{ app.user.email }}</p>
						 	</div>
						 </div>

						<div class="profile-info">
						 	<div class="info-icon">
						 		<i class="icon-mobile-phone"></i>
						 	</div>
						 	<div class="info-text">
						 		<p> +33 (0) 6 98 90 78 51</p>
						 	</div>
						</div>

					{% if app.user.nationality != null %}
						<div class="profile-info">
						 	<div class="info-icon">
						 		<i class="icon-flag"></i>
						 	</div>
						 	<div class="info-text">
						 		<p> {{ app.user.nationality }} </p>
						 	</div>
						 </div>
					{% else %}
						<div class="profile-info">
							<div class="info-icon">
						 		<i class="icon-flag"></i>
						 	</div>
						 	<div class="info-text"> 
						 		<p>Add your Nationality </p>
						 	</div>
						</div>
					{% endif %}
					{% if app.user.city != null %}
						<div class="profile-info">
							<div class="info-icon">
						 		<i class="icon-map-marker"></i>
						 	</div>
						 	<div class="info-text"> 
						 		<p>{{ app.user.city }}</p>
						 	</div>
						</div>						 		
					{% else %}
						<div class="profile-info">
							<div class="info-icon">
						 		<i class="icon-map-marker"></i>
						 	</div>
						 	<div class="info-text"> 
								<p>Add your current city</p>
						 	</div>
						</div>	
					{% endif %}
				
			</div>
			
			
				<div class="edit-info">	
				<a class="edit-info-a" href="{{ path('tk_user_profile_edit', { 'id' : app.user.id }) }}">	
				<div>
					<i class="icon-edit"></i>
					Edit information
				</div>		
				</a>				
				</div>
			
			{% endblock profile %}
		</div>

		<div class="span6">
			<div class="box">
				<h3>Your groups</h3>
				{% for member in app.user.members %}
					<div>
						<a href="{{ path('tk_group_goto_member', { 'id' : member.id }) }}">
							<strong>{{ member.tgroup.name }}</strong>
						</a>
						<small>opened on {{ member.tgroup.date| date('d/m/y') }}</small>
					</div>
					<div class="row">
						<div class="span2">
							<p>Total paid: {{ member.tgroup.totalPaid }} {{member.tgroup.currency.symbol}}</p>
							<p>Your balance: {{ balances[member.tgroup.id] }} {{member.tgroup.currency.symbol}}</p>
						</div>
						<div class="span2">
							<p>To-do(s): {{ member.tgroup.todos|length }}</p>
							<p>Pending: {{ member.tgroup.activeTodos|length }}</p>
						</div>
						<div class="span2">
							<p>Shopping list: {{ member.tgroup.shoppingitems|length }} item(s)</p>
							<p>Still missing: {{ member.tgroup.activeShoppingItems|length }}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

	</div>
{% endblock %}