{% extends 'TkUserBundle::frame.html.twig' %}

{% block stylesheets %}
 {{ parent() }}
 <link href="{{ asset('css/flat-design.css') }}" rel="stylesheet" type="text/css">
 <link href="{{ asset('css/user-info.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
	<div class="container">
		<div class="row">
			<div class="span4">
			</div>
			<div class="span4" style="text-align: center">
				<div class="member">
					<a href="#uploadPictureModal" role="button"	 data-toggle="modal"><img class="img-circle" src="{{ asset(app.user.picture.path) }}" width="70px" style="border: solid 3px rgba(250,250,250,0.6); margin-bottom:30px" alt="profile picture"/></a>
				</div>
				{% include 'TkUserBundle:Profile:uploadPictureModal.html.twig' %}

			</div>
			<div class="span4">
			</div>
		</div>
	</div>

 <div class="selection-menu">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="user-name">
					{{ app.user|upper}}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
	<div class="row">
		<div id="user-info" class="span4 offset1 flat-container">
			<div class="flat-header">
				<h3>Your information</h3>
			</div>
			<div id="profile-stats">
				<div class="info-icon">
					<i class="icon-thumbs-up-alt icon-large"></i>
				</div>
				<div class="info-text" style="margin-right: 2%;">
					{{ app.user.members|length }} Groups
				</div>
				<div class="info-icon">
					<i class="icon-smile icon-large"></i>
				</div>
				<div class="info-text">
					{{ app.user.friends|length }} Friends
				</div>
			</div>
			
			<div style="padding-top:0px; border-top: solid 1px #eaedf2;">	
				{% block profile %}
				{% if app.user.firstname != null or app.user.lastname != null %}

					 <div class="profile-info">
					 	<div class="info-icon">
					 		<i class="icon-user icon-large"></i>
					 	</div>
					 	<div class="info-text">
					 		<p>{{ app.user.firstname }} {{ app.user.lastname }} </p>
					 	</div>
					 </div>

				{% else %}
					<div class="profile-info">
					 	<div class="info-icon">
					 		<i class="icon-user icon-large"></i>
					 	</div>
					 	<div class="info-text">
					 		<p> Edit your Name </p>
					 	</div>
					 </div>
				{% endif %}
				<div class="profile-info">
				 	<div class="info-icon">
				 		<i class="icon-envelope icon-large"></i>
				 	</div>
				 	<div class="info-text">
				 		<p> {{ app.user.email }}</p>
				 	</div>
				 </div>
			</div>
			
			
			<div class="edit-info flat-btn flat-pk flat-large">	
				<a class="edit-info-a" href="{{ path('tk_user_profile_edit', { 'id' : app.user.id }) }}">	
					<div>
						<i class="icon-edit icon-large"></i>
						Edit information
					</div>		
				</a>				
			</div>
			
			{% endblock profile %}
		</div>

		<div class="span6">
			<div id="group-summary" class="flat-container">
				<div class="flat-header">
					<h3>Your Groups</h3>
				</div>
				{% for member in app.user.members %}
					<div id="group-box">
						<div class="accordion" id="accordion2">
						  <div class="accordion-group">
						    <div class="accordion-heading">
						      	<div class="row">
									<div class="span2">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#accordion-{{ member.id }}" style="display: inline-block">
											<img id="accordion-arrow" src="{{ asset('img/Frame/arrow.png') }}" ></a>
						    			</a>

						    			<div class="accordion-group-title" style="display: inline-block">
											<a href="{{ path('tk_group_goto_member', { 'id' : member.id }) }}">
												<strong>{{ member.tgroup.name|capitalize }}</strong>
											</a>
											<p><small>opened on {{ member.tgroup.date| date('d/m/y') }}</small></p>
						    			</div>				
									</div>
									<div class="span1">
										<a href="{{ path('tk_group_goto_expenses', { 'id' : member.id }) }}" class="user-group-btn">
											<div class="flat-btn flat-pk flat-small">Expenses</div>
										</a>
									</div>
									<div class="span1">
										<a href="{{ path('tk_group_goto_lists', { 'id' : member.id }) }}" class="user-group-btn">
											<div class="flat-btn flat-pk flat-small">Lists</div>
										</a>
									</div>
									<div class="span2" style="text-align: left">
										<p>Your balance: 
											{% if member.balance >= 0 %}
												<span style="color: #a8bd44; font-family:'Asap-bold'"><b>{{ member.balance }} {{member.tgroup.currency.symbol}}</b></span>
											{% else %}
												<span style="color: #f97e76; font-family:'Asap-bold'"><b>{{ member.balance }} {{member.tgroup.currency.symbol}}</b></span>
											{% endif %}
										</p>
									</div>
								</div>
						    </div>
						    <div id="accordion-{{ member.id }}" class="accordion-body collapse out">
						      <div class="accordion-inner">
						        <div>
								{% for m in member.tgroup.members %}
									<div style="display: inline-block">
										{% if m.user %}
											<div class="member">
												<img src="{{ asset(m.user.picture.path) }}" class="img-circle" width="60px" 	alt="{{ member.name }}" style="position: relative">
												<p>{{ m.name }}</p>
											</div> 
										{% else %}
											<div class="member">
												<img src="{{ asset('uploads/profile-pictures/profile-pic.png') }}" class="img-circle" width="60px" 	alt="{{ member.name }}" style="position: relative">

												<p>{{ m.name }}</p>
											</div>
										{% endif %}
									</div>
								{% endfor %}
								</div>
						      </div>
						    </div>
						  </div>
						</div>														
					</div>
				{% endfor %}
				<div>
					<a href="">See closed groups (0)</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="http://jqueryrotate.googlecode.com/svn/trunk/jQueryRotate.js"></script>
 <script type='text/javascript' src="{{ asset('js/user.js') }}"></script>


{% endblock %}