{% extends 'TkUserBundle::frame.html.twig' %}

{% block stylesheets %}
 {{ parent() }}
 <link href="{{ asset('css/user-info.css') }}" rel="stylesheet" type="text/css">
 <link href="{{ asset('css/switch.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
	<div class="container">
		<div class="row">
			<div class="span4">
			</div>
			<div class="span4" style="text-align: center">
				<div class="member">
					<a href="#uploadPictureModal" role="button"	 data-toggle="modal"><img class="img-circle" src="{{ asset(app.user.picture.path) }}" width="70px" style="border: solid 3px rgba(250,250,250,0.6); margin-bottom:30px" alt="profile picture"/></a>
				</div>
				{% include 'TkUserBundle:Profile:uploadPictureModal.html.twig' %}

			</div>
			<div class="span4">
			</div>
		</div>
	</div>

 <div class="selection-menu">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="user-name">
					{{app.user}}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
	<div class="row">
		<div id="user-info" class="span4 offset1">
			<div class="user-header">
				<h3>Your information</h3>
			</div>
			<div id="profile-stats">
				<div class="info-icon">
					<i class="icon-thumbs-up-alt"></i>
				</div>
				<div class="info-text" style="margin-right: 2%;">
					{{ app.user.members|length }} Groups
				</div>
				<div class="info-icon">
					<i class="icon-smile"></i>
				</div>
				<div class="info-text">
					{{ app.user.friends|length }} Friends
				</div>
			</div>
			
			<div style="padding-top:0px; border-top: solid 1px #eaedf2;">	
				{% block profile %}
				{% if app.user.firstname != null or app.user.lastname != null %}

					 <div class="profile-info">
					 	<div class="info-icon">
					 		<i class="icon-user"></i>
					 	</div>
					 	<div class="info-text">
					 		<p>{{ app.user.firstname }} {{ app.user.lastname }} </p>
					 	</div>
					 </div>

				{% else %}
					<div class="profile-info">
					 	<div class="info-icon">
					 		<i class="icon-user"></i>
					 	</div>
					 	<div class="info-text">
					 		<p> Edit your Name </p>
					 	</div>
					 </div>
				{% endif %}
					<div class="profile-info">
					 	<div class="info-icon">
					 		<i class="icon-envelope"></i>
					 	</div>
					 	<div class="info-text">
					 		<p> {{ app.user.email }}</p>
					 	</div>
					 </div>

					<div class="profile-info">
					 	<div class="info-icon">
					 		<i class="icon-mobile-phone"></i>
					 	</div>
					 	<div class="info-text">
					 		<p> +33 (0) 6 98 90 78 51</p>
					 	</div>
					</div>

				{% if app.user.nationality != null %}
					<div class="profile-info">
					 	<div class="info-icon">
					 		<i class="icon-flag"></i>
					 	</div>
					 	<div class="info-text">
					 		<p> {{ app.user.nationality }} </p>
					 	</div>
					 </div>
				{% else %}
					<div class="profile-info">
						<div class="info-icon">
					 		<i class="icon-flag"></i>
					 	</div>
					 	<div class="info-text"> 
					 		<p>Add your Nationality </p>
					 	</div>
					</div>
				{% endif %}
				{% if app.user.city != null %}
					<div class="profile-info">
						<div class="info-icon">
					 		<i class="icon-map-marker"></i>
					 	</div>
					 	<div class="info-text"> 
					 		<p>{{ app.user.city }}</p>
					 	</div>
					</div>						 		
				{% else %}
					<div class="profile-info">
						<div class="info-icon">
					 		<i class="icon-map-marker"></i>
					 	</div>
					 	<div class="info-text"> 
							<p>Add your current city</p>
					 	</div>
					</div>	
				{% endif %}
			</div>
			
			
			<div class="edit-info">	
				<a class="edit-info-a" href="{{ path('tk_user_profile_edit', { 'id' : app.user.id }) }}">	
					<div>
						<i class="icon-edit"></i>
						Edit information
					</div>		
				</a>				
			</div>
			
			{% endblock profile %}
		</div>

		<div class="span6">
			<div id="group-summary">
				<div class="user-header">
					<h3>Your groups</h3>
				</div>
				{% for member in app.user.members %}
					<div id="group-box">
						<div class="row">
							<div class="span2">
								<a href="{{ path('tk_group_goto_member', { 'id' : member.id }) }}">
									<strong>{{ member.tgroup.name }}</strong>
								</a>
								<p><small>opened on {{ member.tgroup.date| date('d/m/y') }}</small></p>
							</div>
							<div class="span1">
								<a href="{{ path('tk_group_goto_expenses', { 'id' : member.id }) }}" class="user-group-btn">
									<div>Expenses</div>
								</a>
							</div>
							<div class="span1">
								<a href="{{ path('tk_group_goto_lists', { 'id' : member.id }) }}" class="user-group-btn">
									<div>Lists</div>
								</a>
							</div>
							<div class="span2" style="text-align: left">
								<p>Your balance: 
									{% if balances[member.tgroup.id] >= 0 %}
										<span style="color: #a8bd44; font-family:'Asap-bold'"><b>{{ balances[member.tgroup.id] }} {{member.tgroup.currency.symbol}}</b></span>
									{% else %}
										<span style="color: #f97e76; font-family:'Asap-bold'"><b>{{ balances[member.tgroup.id] }} {{member.tgroup.currency.symbol}}</b></span>
									{% endif %}
								</p>
							</div>
						</div>
					</div>
				{% endfor %}
				<div>
					<a href="">See closed groups (0)</a>
				</div>
			</div>
		</div>

	</div>
{% endblock %}