<div id="collapse-add-members" class="accordion-body collapse">
  <div class="accordion-inner">
		<div class="well">
			<h5 style="display: inline-block; margin-right: 20px;">Add a member</h5>
			<div style="display: inline-block;">
				<form action="{{ path('tk_group_add_members') }}" method="post" {{ form_enctype(form) }}>
				    {{ form_errors(form) }}

				    {{ form_errors(form.name) }}
				    {{ form_widget(form.name, 
			            { 'attr': { 'placeholder' : 'Enter his name'}}) 
			        }}

				    {{ form_rest(form) }}
			    	<input type="submit" value="Add" class="btn btn-success" style="vertical-align: top"/>
			    	<a class="btn" style="vertical-align: top" href="{{ path('tk_group_homepage') }}">Done</a>
				</form>
			</div>
		</div>
  </div>
</div>
