{% extends 'TkGroupBundle::index.html.twig' %}

{% block stylesheets %}
 {{ parent() }}
 <link href="{{ asset('css/flat-design.css') }}" rel="stylesheet" type="text/css">
 <link href="{{ asset('css/group-settings.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

{% include 'TkGroupBundle:Default:graph.html.twig' %}

<div class="span6 offset3">
	<div class="group-info flat-container">
		<div class="group-header flat-header">	
			<span style="display: block; height:50px; vertical-align: middle; padding-top: 2px; padding-left: 10px"><h2><a href="{{ path('tk_group_edit') }}"><i class="icon-edit" style="color:#c1cfd9"></i></a>  {{ group.name }}</h2><span>
		</div>
		<div class="group-mgt-button">
			<div class="edit-group flat-btn flat-pk flat-large">	
				<a class="edit-group-a accordion-toggle" data-toggle="collapse" href="#collapse-add-members">	
					<div>
						<i class="icon-plus-sign"></i>   
						Add Member
					</div>		
				</a>				
			</div>
			<div class="edit-group flat-btn flat-pk flat-large">	
				<a class="edit-group-a accordion-toggle" data-toggle="collapse" href="#collapse-send-invites">	
					<div>
						<i class="icon-plus-sign"></i>   
						Send invites
					</div>		
				</a>				
			</div>
			<div class="edit-group flat-btn flat-pk flat-large">	
				<a class="edit-group-a accordion-toggle" data-toggle="collapse" href="#collapse-remove-member">	
					<div>
						<i class="icon-minus-sign"></i>   
						Remove Member
					</div>		
				</a>				
			</div>
			<div class="edit-group flat-btn flat-pk flat-large">	
				<a class="edit-group-a" href="#">	
					<div>
						<i class="icon-signout"></i>   
						Leave Group
					</div>		
				</a>				
			</div>
		</div>

		<div>
			{% render(controller('TkGroupBundle:Default:addMembers')) %}
		</div>

		<div>
			{% include 'TkGroupBundle:Default:inviteUser.html.twig' %}
		</div>

		<div>
			{% include 'TkGroupBundle:Default:removeMembers.html.twig' %}
		</div>

		<div class="subheader">	
			<span style="display: block; height:30px; vertical-align: middle; padding-left: 10px">
				<h3>Balance</h3>
			<span>
		</div>
		<div style="text-align:center;">
			<canvas id="balanceChart" width="500" height="200"></canvas>
		</div>
		<div class="group-mgt-button">
				<div class="edit-group flat-btn flat-gn flat-large">	
					<a class="edit-group-a" href="#">	
						<div>
							<i class="icon-money"></i>   
							Settle Debts
						</div>		
					</a>				
				</div>

				<div class="edit-group flat-btn flat-gn flat-large">	
					<a class="edit-group-a" href="#">	
						<div>
							<i class="icon-envelope"></i>   
							Send Reminders
						</div>		
					</a>				
				</div>
		</div>
		<div class="subheader">	
			<span style="display: block; height:30px; vertical-align: middle; padding-left: 10px">
				<h3>Preferences</h3>
			<span>
		</div>
		<div class="preferences">
			<br>
			<p>Send push notifications to the app each time an item is added [yes/no]</p>
			<p>Send email notifications each time an item is added [yes/no]</p>
			<p>Send monthly reminders with group summary [yes/no]</p>
			<br>

		</div>
	</div>
</div>	

{% endblock %}