{% extends 'TkUserBundle::frame.html.twig' %}

{% set group = app.user.currentMember.tgroup %}

{% block navbartitle %}
	<h1 style="display: inline-block">{{ group.name|capitalize }}</h1>
	<div class="dropdown" style="display: inline-block">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-caret-down"></i></a>
		    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">                      
			    {% for member in app.user.members %}
			    <li><a href="{{ path('tk_group_switch_member', { 'id' : member.id, 'route' : app.request.attributes.get('_route') }) }}">{{ member.tgroup.name }}</a></li>
			    {% endfor %}
			</ul>
	</div>
{% endblock %}

{% block header %}
	<div id="second-row-big" class="row" style="position: relative">
		<div id="add-group">
	  		<a href="{{ path('tk_group_new') }}"  rel="tooltip" data-toggle="tooltip" title="" data-original-title="Create a new Group"><img src="{{ asset('img/frame/add-group.png') }}" class="img-circle img-shadow"></a>
	  	</div>
		<div id="group" class="span8 offset2">

				{% for member in group.members %}
					{% if member.user %}
						<div class="member">
							<img src="{{ asset(member.user.picture.path) }}" class="img-circle" alt="{{ member.name }}" style="position: relative">
							<p>{{ member.name }}</p>
						</div> 
					{% else %}
						<div class="member">
							<img src="{{ asset('uploads/profile-pictures/profile-pic.png') }}" class="img-circle" alt="{{ member.name }}" style="position: relative">

							<p>{{ member.name }}</p>
						</div>
					{% endif %}
				{% endfor %}

		</div>
		<div id="toolbar">
			<a href="{{ path('tk_group_add_members') }}" rel="tooltip" data-toggle="tooltip" title="" data-original-title="Add a Member"><img src="{{ asset('img/frame/add-member.png') }}" class="img-circle img-shadow"></a>
			<div class="btn-group" style="display: inline-block">
				<a class="btn btn-link dropdown-toggle" data-toggle="dropdown" href="#" rel="tooltip" title="" data-original-title="Invite a friend"><img src="{{ asset('img/frame/add-invite.png') }}" class="img-circle img-shadow"></a>
				<ul class="dropdown-menu">
					<!-- dropdown menu links -->
					{% render(controller('TkGroupBundle:Default:sendInvitationEmail')) %}
					<a class="btn btn-primary" href="https://www.facebook.com/dialog/send?app_id=130641483808717&name=Click%20here%20to%20join%20my%20group%20on%20Twinkler&link=http://www.twinkler.co/invitation/{{group.id}}/{{group.invitationToken}}&redirect_uri=http://www.twinkler.co/group/settings">Send Facebook Message</a>
				</ul>
			</div>
			<a href="{{ path('tk_group_homepage') }}" rel="tooltip" data-toggle="tooltip" title="" data-original-title="Edit your group settings"><img src="{{ asset('img/frame/settings.png') }}" class="img-circle img-shadow"></a>
		</div>		
	</div>
	<div id="second-row-small" class="row" style="position: relative">
		<div id="group" class="span12">

				{% for member in group.members %}
					{% if member.user %}
						<div class="member">
							<img src="{{ asset(member.user.picture.path) }}" class="img-circle" alt="{{ member.name }}" style="position: relative">
							<p>{{ member.name }}</p>
						</div> 
					{% else %}
						<div class="member">
							<img src="{{ asset('uploads/profile-pictures/profile-pic.png') }}" class="img-circle" alt="{{ member.name }}" style="position: relative">

							<p>{{ member.name }}</p>
						</div>
					{% endif %}
				{% endfor %}

		</div>
		<div class="span12" style="height: 60px; position: relative">
		<div id="add-group">
	  		<a href="{{ path('tk_group_new') }}"  rel="tooltip" data-toggle="tooltip" title="" data-original-title="Create a new Group"><img src="{{ asset('img/frame/add-group.png') }}" class="img-circle img-shadow"></a>
	  	</div>
		<div id="toolbar">
			<a href="{{ path('tk_group_add_members') }}" rel="tooltip" data-toggle="tooltip" title="" data-original-title="Add a Member"><img src="{{ asset('img/frame/add-member.png') }}" class="img-circle img-shadow"></a>
			<div class="btn-group" style="display: inline-block">
				<a class="btn btn-link dropdown-toggle" data-toggle="dropdown" href="#" rel="tooltip" title="" data-original-title="Invite a friend"><img src="{{ asset('img/frame/add-invite.png') }}" class="img-circle img-shadow"></a>
				<ul class="dropdown-menu">
					<!-- dropdown menu links -->
					{% render(controller('TkGroupBundle:Default:sendInvitationEmail')) %}
					<a class="btn btn-primary" href="https://www.facebook.com/dialog/send?app_id=130641483808717&name=Click%20here%20to%20join%20my%20group%20on%20Twinkler&link=http://www.twinkler.co/invitation/{{group.id}}/{{group.invitationToken}}&redirect_uri=http://www.twinkler.co/group/settings">Send Facebook Message</a>
				</ul>
			</div>
			<a href="{{ path('tk_group_homepage') }}" rel="tooltip" data-toggle="tooltip" title="" data-original-title="Edit your group settings"><img src="{{ asset('img/frame/settings.png') }}" class="img-circle img-shadow"></a>
		</div>
		</div>		
	</div>
{% endblock %}


{% block selectionmenu %}
	<div class="selection-menu">
		<div class="container">
			<div class="row">
				<div class="span4 offset4">
					<div style="display: inline-block; float-left; width: 49%; text-align: center">
						<a href="{{ path('tk_expense_homepage') }}">Expenses</a>
					</div>
					<div style="display: inline-block; float-right; width: 49%; text-align: center">
						<a href="{{ path('tk_list_homepage') }}">Lists </a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
 	<script type='text/javascript' src="{{ asset('js/group.js') }}"></script>
{% endblock %}