{% extends '::base.html.twig' %}

{% block head %}  
    <title>Twinkler - Manage social events</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ asset('css/landing-page.css') }}" rel="stylesheet" media="screen">


    <script type='text/javascript' src="{{ asset('js/landing-page.js') }}"></script>


 

{% endblock %}
{% block body %}
	<header>
		  		<div>
	  		<a href="{{ path('tk_welcome_homepage') }}">
	  			<img src="{{ asset('img/logo/twinkler_logo.png') }}" width="200px" alt="twinkler logo">
	  		</a>
	  		<div class="pull-right" id="login-register">
	  			<ul>
					<li><a href="">Features</a>	</li>
					<li><a href="#section3">Get the App</a></li>
					<li><a href="">Don't click here</a></li>
					<li><a href="{{ path('fos_user_security_login') }}">Login</a> or
		  		<a href="{{ path('fos_user_registration_register') }}">Register</a></li>
				</ul>	
	  		</div>
  		</div>
	</header>
  	{% block content %}
  	<section>
  		<div id="section1">
  			<div class="row">
  				<div class="span5 offset1" id="iphone-view">
					<img src="{{ asset('img/landing-page/handiphone.png') }}" alt="twinkler app mockup">
				</div>
	  			<div class="span5" id="catchphrase">
				    <h1>Sharing made easy</h1>
					    <div id="myCarousel" class="carousel slide">
					    <div class="carousel-inner">
					    <div class="active item">#HOLIDAYS</div>
					    <div class="item">#WEEK-ENDS</div>
					    <div class="item">#TRIPS</div>
					    <div class="item">#FLATSHARE</div>
					    </div>
					    </div>
				    <h5>Twinkler is the most beautiful, simple and convenient place to <strong>enjoy moments with friends</strong></h5>
				    
				    <h5>Stop worrying about organizing your events, Twinkler manages everything from planning to expenses</h5>
				    <h5>Share more with the people you love</h5>
				    <br>
				    <a id="signup-button" class="btn btn-large btn-primary" href="{{ path('fos_user_registration_register') }}">Start sharing with friends now</a>
				</div>

			</div>
		</div>
	</section>

	<section >
		<div id="core-features" class="row">
			<div class="span3 offset1">
					<a><div class="learn-more img-circle">
					<div class="learn-more-hover img-circle">
					<span></span>learn more
					<img src="{{ asset('img/landing-page/arrow.png') }}" alt="twinkler app mockup">
					</span>
					</div></a>
				</div>
					<div class="features-short">
				<h3>Communicate</h3>
				<p>Organize your week-ends, holidays or even flatshare with Twinkler! <br> Use our shared lists and beautiful chat to talk to your friends!</p>
				</div>
				 <button type="submit" class="btn btn-success">Learn more</button>
			</div>
			<div class="span3 offset1">
				<a><div class="learn-more img-circle">
					<div class="learn-more-hover img-circle">
					<span></span>learn more
					<img src="{{ asset('img/landing-page/arrow.png') }}" alt="twinkler app mockup">
				</span>
					</div></a>
				</div>
				<div class="features-short">
				<h3>Split your Bills</h3>
				<p>Don't worry about who pays what, Twinkler does it for you!<br> Just enjoy your moments with your friends</p>
				</div>
				<button type="submit" class="btn btn-success">Learn more</button>
			</div>
			<div class="span3 offset1">
				<a><div class="learn-more img-circle">
					<div class="learn-more-hover img-circle">
					<span></span>learn more
					<img src="{{ asset('img/landing-page/arrow.png') }}" alt="twinkler app mockup">
				</span>
					</div></a>
				</div>
				<div class="features-short">
				<h3>Payback your friends</h3>
				<p>Stop chasing your friends for money! <br> Don't you think in 2013 it's time to use your smartphone to get your money back?</p>
				</div>
			    <button type="submit" class="btn btn-success">Learn more</button>
			</div>

		</div>
		<div id="late-login" class="row">
			  <button class="btn btn-large btn-primary" type="button">Start using Twinkler</button>
			  <p>already registered? log in here</p>
		</div>
	</section>
	<section>
		<div id="section2">
			<div class="row feature">
		    	<div class="span12 feature-container">
				    	<div class="row feature-container">
				    		<div class="span5 offset1 feature-container" style="position:relative">
				    		<img src="{{ asset('img/landing-page/iphones-chats.png') }}" alt="twinkler app mockup">
				    		</div>
				    		<div class="span6 feature-description">
				    		<h1>Friendly Notifications</h1>
			    			<h2>Share more than moments</h2>
				    		<p>Send e-mail notification to payback your friends in a twinkling!</p>
				    		<p>Include Pictures of your event with dropbox in your reminders!</p>
				    		</div>
				    	</div>
		    	</div>
		    	<div class="span7">
		    	</div>
		    </div>
		    <div id="samsung-expenses"class="row feature">
		    	<div class="span12 feature-container">
				    	<div class="row feature-container">
				    		<div class="span6 feature-description offset1">
				    		<h1>Friendly Notifications</h1>
			    			<h2>Share more than moments</h2>
				    		<p>Send e-mail notification to payback your friends in a twinkling!</p>
				    		<p>Include Pictures of your event with dropbox in your reminders!</p>
				    		</div>
				       		<div class="span3 feature-container " style="position:relative">
				    		<img src="{{ asset('img/landing-page/samsung-overview.png') }}" alt="twinkler app mockup">
				    		</div>
				    	</div>
		    	</div>
		    	<div class="span7">
		    	</div>
		    </div>
		    <div class="row feature">
		    	<div class="span12 feature-container">
				    	<div class="row feature-container">
				    		<div class="span6 feature-container" style="position:relative">
				    		<img src="{{ asset('img/landing-page/iphone_payback.png') }}" alt="twinkler app mockup">
				    		</div>				    		
				    		<div id="iphone-payback"  class="span5 offset1 feature-description">
				    		<h1>Payback your friends!</h1>
			    			<h2>Don't chase your friends</h2>
				    		<p>Twinkler integrates Google Wallet features so you can move your money for free</p>
				    		<p>Unlimited payback so you stop worrying about who pays the bill!</p>
				    		</div>
				    	</div>
		    	</div>
		    </div>
		    <section>

		    </section>
		</div>
	</section>

	<section>
		<div id="section3">
			<div  id="section-transition" class="row">
			    <h5>Bring Twinkler with you all the time with our coming mobile apps</h5>
			</div>
			<div class="row">
				<a id="go" rel="leanModal" name="test" href="#test">
				<img src="{{ asset('img/landing-page/google-play-large.png') }}" alt="Get our Android App!">
				</a>
				<img src="{{ asset('img/landing-page/app-store-large.png') }}" alt="get our iPhone App!">
			</div>
		</div>
	</section>
	<section>
		<div id="section4">
				<div id="login-mosaic">
				    <img src="{{ asset('img/logo/twinkler_logo_mosaic.png') }}" width="600px" alt="twinkler logo">
				    <br>
			  		<button class="btn btn-large btn-primary" type="button">Sign up and start Sharing</button>
				</div>
				<div id="row1" class="row mosa-row">
					 <img id="pic1-1" src="{{ asset('img/landing-page/mosaic/thib_michou_kayak_200.jpg') }}" alt="twinkler logo">
					 <img id="pic1-2" src="{{ asset('img/landing-page/mosaic/friends_bw_200.jpg') }}"  alt="twinkler logo">
					 <img id="pic1-3" src="{{ asset('img/landing-page/mosaic/pool_200.jpg') }}"  alt="twinkler logo">
					 <img id="pic1-4" src="{{ asset('img/landing-page/mosaic/thib_beach_by_night_200.jpg') }}"  alt="twinkler logo">
				</div>
				<div id="row2" class="row mosa-row">
					 <img id="pic2-1" src="{{ asset('img/landing-page/mosaic/group_200.jpg') }}"  alt="twinkler logo">
					 <img id="pic2-2" src="{{ asset('img/landing-page/mosaic/ski_200.jpg') }}" alt="twinkler logo">
					 <img id="pic2-3" src="{{ asset('img/landing-page/mosaic/couple_200.jpg') }}"  alt="twinkler logo">
					 <img id="pic2-4" src="{{ asset('img/landing-page/mosaic/thib_kayak_200.jpg') }}"  alt="twinkler logo">
					 <img id="pic2-5" src="{{ asset('img/landing-page/mosaic/soccer_200.jpg') }}"  alt="twinkler logo">
				</div>
				<div id="row3" class="row mosa-row">
					 <img id="pic3-1" src="{{ asset('img/landing-page/mosaic/beer_200.jpg') }}"  alt="twinkler logo">
					 <img id="pic3-2" src="{{ asset('img/landing-page/mosaic/golden_gate_200.jpg') }}" alt="twinkler logo">
					 <img id="pic3-3" src="{{ asset('img/landing-page/mosaic/milk_shake_200.jpg') }}"  alt="twinkler logo">
					 <img id="pic3-4" src="{{ asset('img/landing-page/mosaic/tv_200.jpg') }}"  alt="twinkler logo">
				</div>

		</div>


	</div>


	<section>
		<div id="made-with-love" class="row">
			Made with love
		</div>
	</section>

	<section id="pre-footer">
		<div class="row repeat-bck">
			<div class="span3 offset1 footer-box footer-box-right">
				<p>Get our Apps </p><br>
				<img src="{{ asset('img/landing-page/google-play-large.png') }}" alt="Get our Android App!" width="120px"><br>
				<img src="{{ asset('img/landing-page/app-store-large.png') }}" alt="get our iPhone App!" width="120px">
			</div>
			<div class="span3 footer-box offset1">
				<p>Want to be a beta-testers? <br> Subscribe to our Newsletter!</p><br>
				<form>
				  <fieldset>
				    <input type="text" placeholder="Enter your e-mail address">
				    <button type="submit" class="btn btn-success">Subscribe</button>
				  </fieldset>
				</form>
			</div>
			<div class="span3 footer-box offset1 footer-box-left">
				<p>Thanks for your help!<br>
				Keep following us here:</p><br>

				<i class="icon-facebook-sign icon-3x"></i>
				<i class="icon-twitter-sign icon-3x"></i>
				<i class="icon-rss-sign icon-3x"></i>
			</div>
		</div>
	</section>
	<footer>
		<div class="row">
				<p>Copyright © 2013 Twinkler, Inc. All rights reserved.</p>
				<ul>
					<li>About</li>
					<li>Newsletter</li>
					<li>Press</li>
					<li>Contact</li>
				</ul>
		</div>
	</footer>



	{% endblock content %}
{% endblock body %}
{% block javascripts %}
	<script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}