<form action="{{ path('tk_list_todos_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    <div style="display: inline-block;">
    	{{ form_row(form.name) }}
    </div>
    <div style="display: inline-block;">
    	{{ form_row(form.owner) }}
    </div>   

    {{ form_rest(form) }}
    <div>
    	<input type="submit" />
    </div>
    
</form>