{% extends 'TkExpenseBundle::index.html.twig' %}

{% block expenses %}
	
	<h2>Edit expense</h2>
	<form action="{{ path('tk_expense_edit', { 'id' : id }) }}" method="post" {{ form_enctype(form) }}>
	    {{ form_errors(form) }}

	    {{ form_row(form.name) }}

	    {{ form_rest(form) }}

	    <input type="submit" />
	    <a href="{{ path('tk_expense_homepage') }}">Cancel</a>
	</form>

{% endblock %}