{% extends 'TkGroupBundle::index.html.twig' %}

{% block stylesheets %}
 {{ parent() }}
 <link href="{{ asset('css/flat-design.css') }}" rel="stylesheet" type="text/css">
 <link href="{{ asset('css/expenses.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% set currency = app.user.currentMember.tgroup.currency.symbol %}

{% block content %}

{% include 'TkGroupBundle:Default:graph.html.twig' %}
			
	<div class="container">	
		<div class="row">
			<div id="balance-expense-container" class="span4">
				<div id="settlement" class="flat-container">
					<div class="expense-header flat-header" style="text-align:left;">
						<div id="expense-title">
							<h2>Payback</h2>
						</div>
					</div>

						{% for debt in debts %}
							<p>{{ debt[0] }} gives {{ debt[1]|number_format(0) }}{{ currency }} to {{debt[2] }}</p>
						{% endfor %}
					

				</div>
				<div id="balance" class="flat-container">
					<div class="expense-header flat-header">
						<div id="expense-title">
							<h2>Balance</h2>
						</div>
					</div>
					<div>
						<div style="text-align:center; margin-top: 20px;">
							<canvas id="balanceChart" width="300" height="150"></canvas>
						</div>
					</div>
				</div>



			</div>
		
			<div class="span7">
				<div class="row">
				<div id="timeline" class="span1">
					<a  id="today-pinpoint" href="#" data-toggle="tooltip" rel="tooltip" title="#">
						<img class="pinpoint-button" src="{{ asset('img/frame/tmln-btn.png') }}" class="img-circle" width="20px" style="text-align: center; margin-top:10px;" alt="profile picture">
					</a>
				</div>



				<div id="timeline-expense-container" class="span6">

					{% include "TkExpenseBundle::addExpenseModal.html.twig" %}
				<div class="expense-list span6 flat-container">
						<div class="expense-header flat-header">
							<div id="expense-title">
								<h2>Expense Timeline</h2>
							</div>
							<a href="#addExpenseModal" role="button" data-toggle="modal">
								<div id="add-expense-btn">
									<i class="icon-plus" style="color:#fcd5d2;"></i>
								</div>
							</a>
						</div>
						<div id="expense-summary">

							You paid: {{ total_paid|number_format(0) }}{{ currency }}
							- Your due share: {{ total_paid_supposed|number_format(0) }}{{ currency }}				
						</div>		
				</div>

				{% for expense in all_expenses %}
				<div style="display:inline-block;">

					<div class="pinpoint-tmln">
						<a  href="#" data-toggle="tooltip" rel="tooltip" title="
								{{ expense[0].date|date("d/m") }}">
								<img class="pinpoint-button" src="{{ asset('img/frame/tmln-btn.png') }}" class="img-circle" width="20px">
						</a>
					</div>


					<div class="expense-list expense-list-detailed span6 flat-container">

						<div style="display: block; width:100%; height: 30px;">
							<div style="float: left; color:rgb(140,140,140);">
								<img src="{{ asset('uploads/profile-pictures/profile-pic.png') }}" class="img-circle" width="30px" 	alt="" style="position: relative">
								<font style="color:#fb786b; margin-left:5px;">{{ expense[0].owner.name }} </font>added <font style="color:#0088CC;">{{ expense[0].amount|number_format(0) }} {{ currency }}</font> for <font style="color:#fb786b;">{{ expense[0].name }}</font> 
							</div>	
							<div style="float: right;">

								Your share: <font style="color:rgb(153,179,53);">{{ expense[1]|number_format(0) }} {{ currency }}</font>
								<a class="edit-group-a accordion-toggle" data-toggle="collapse" href="#collapse-edit-expense{{ expense[0].name }}" style="margin-left: 15px"><i class="icon-edit"></i></a>
								<a href="{{ path('tk_expense_remove', {'id' : expense[0].id } ) }}"><i class="icon-trash"></i></a>
							</div>
						</div>

						<div style"text-align: middle;">
								<p style="margin-left:40px; margin-bottom:0px;"><font style="color:rgb(140,140,140)">Friends involved: </font> {% for member in expense[0].users %}{{ member.name }},  {% endfor %}</p>
						</div>

						<div id="collapse-edit-expense{{ expense[0].name }}" class="accordion-body collapse" style="display:block;">
						  <div class="accordion-inner">
								<div class="well">
									<h5 style="display: inline-block; margin-right: 20px;">Edit test</h5>
									<div style="display: inline-block;">
										<p>test test test</p>
									</div>
								</div>
						  </div>
						</div>			

					</div>

				{% endfor %}
				</div>
				
				</div>
			</div>
		</div>	
	</div>


{% endblock %}