{% extends 'TkUserBundle::frame.html.twig' %}

{% block stylesheets %}
 {{ parent() }}
 <link href="{{ asset('css/expenses.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1>My Coloc - Expenses</h1>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<div class="box">
					<h2>Balances & Debts</h2>

					<div class="well well-small">
						You balance is {{ total_paid - total_owed }}€ 
					</div>

				</div>
			</div>
			<div class="span8">
				<div class="box">
					<h2>Expenses - all <a href="#addExpenseModal" role="button" class="btn pull-right" data-toggle="modal">+</a></h2>

					<!-- Modal -->
					{% include "TkExpenseBundle::addExpenseModal.html.twig" %}

					<div class="well well-small">
						You paid in total {{ total_paid }}€ / People paid for you in total {{ total_owed }}€
					</div>

					<div class="box-body">

						{% for expense in all_expenses %}

							<p>{{ expense[0].owner }} - {{ expense[0].amount }}€ - {{ expense[0].name }} - {{ expense[0].date|date("d/m") }} - Concerns {% for user in expense[0].users %}{{ user }}, {% endfor %} - For you = {{ expense[1] }}€</p>

						{% endfor %}
						
					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}