<form action="{{ path('tk_expense_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    {{ form_row(form.owner) }}
    {{ form_row(form.name) }}
    {{ form_row(form.amount) }}
    {{ form_row(form.date) }}
    {{ form_row(form.users) }}

    {{ form_rest(form) }}

    <input type="submit" />
</form>