<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Twinkler - Manage social events</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
    <link href="{{ asset('bootstrap/css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{ asset('bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet" media="screen">
	<link href="{{ asset('css/frame.css') }}" rel="stylesheet" type="text/css">
    {% endblock  %}
  </head>
  <body>
  	<header>
  		<div class="navbar navbar-inverse navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="#">Twinkler</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
					    <li><a href="{{ path('tk_user_homepage') }}">{{ app.user.username }}</a></li>
					    <li class="dropdown">
						  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
						    {{ app.user.currentTGroup.name }}
						    <span class="caret"></span>
						  </a>
						  <!-- Link or button to toggle dropdown -->
						  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						    {% for group in app.user.tgroups %}
						    	<li><a tabindex="-1" href="{{ path('tk_group_switch', {'id' : group.id }) }}">{{ group.name }}</a></li>
						    {% endfor %}
						    <li class="divider"></li>
						    <li><a tabindex="-1" href="#">Logout</a></li>
						  </ul>
					    </li>
					    <!-- il faudrait rajouter un divider qui soit responsive ou mettre la suite à droite -->
					    <li class="divider"></li>
					    <li><a href="{{ path('tk_expense_homepage') }}">Expenses</a></li>
					    <li><a href="{{ path('tk_list_homepage') }}">Lists</a></li>
					    <li class="pull-right"><a href="{{ path('tk_group_settings') }}">Settings</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
	      </div>
	    </div>
  	</header>

  	<section>

  		{% block content %}
  		{% endblock %}

  	</section>

	<footer>
	</footer>
	<script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
  </body>
</html>