{% extends '::base.html.twig' %}

{% block head %}
	{% block title %}  	
    <title>Twinkler - Manage social events</title>
    {% endblock %}
    {% block stylesheets %}
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
	<link href="{{ asset('css/frame.css') }}" rel="stylesheet" type="text/css">
	{% endblock stylesheets %}
{% endblock %}

{% block body %}
  	<header>
  		<div class="navbar navbar-inverse navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="{{ path('tk_user_homepage') }}">Twinkler</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="divider-vertical	"></li>
					    <li><a href="{{ path('tk_user_homepage') }}">{{ app.user.username }}</a></li>
					    <li class="divider-vertical	"></li>
					    {% if app.user.currentMember != null %}
					    <li><a href="{{ path('tk_group_homepage') }}">{{ app.user.currentMember.tgroup.name }}</a></li>
					    <li class="dropdown">
						  <a class="dropdown-toggle" data-toggle="dropdown">
						    <span class="caret" style="zoom:1.5; margin-top: 5px;"></span>
						  </a>
						  <!-- Link or button to toggle dropdown -->
						  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						    {% for member in app.user.members %}
						    	<li><a tabindex="-1" href="{{ path('tk_group_switch_member', {'id' : member.id, 'route' : app.request.attributes.get('_route') }) }}">{{ member.tgroup.name }}</a></li>
						    {% endfor %}
						    <li class="divider"></li>
						    <li><a tabindex="-1" href="{{ path('fos_user_security_logout') }}">Logout</a></li>
						  </ul>
					    </li>
					    <!-- il faudrait rajouter un divider qui soit responsive ou mettre la suite à droite -->
					    <li class="divider-vertical	"></li>
					    <li><a href="{{ path('tk_expense_homepage') }}">Expenses</a></li>
					    <li><a href="{{ path('tk_list_homepage') }}">Lists</a></li>
					    <li class="divider-vertical	"></li>
					    {% endif %}
					    
					    <li><a href="{{ path('tk_group_new') }}">+ Start a new group</a></li>

					    {% if app.user.currentMember == null %}
					    	<li class="divider-vertical	"></li>
					    	<li><a href="{{ path('fos_user_security_logout') }}">Logout</a></
					    {% endif %}
					</ul>
				</div><!--/.nav-collapse -->
			</div>
	      </div>
	    </div>
  	</header>

  	<section>

  		{% block content %}
  		{% endblock %}

  	</section>

	<footer>
	</footer>
{% endblock %}
{% block javascripts %}
	<script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}