{% extends '::base.html.twig' %}

{% block head %}
    {% block title %}   
    <title>Twinkler - Manage social events</title>
    {% endblock %}
    {% block stylesheets %} 
    <link href="{{ asset('css/frame.css') }}" rel="stylesheet" type="text/css">
    {% endblock stylesheets %}
{% endblock %}

{% block body %}
    <header style="border-bottom: solid 1px">
        <div class="container">
            <div class="row">
                <div class="span2">
                    <a class="brand" href="{{ path('tk_user_homepage') }}"><img src="{{ asset('img/logo/logo_white_transparent.png') }}" width="150px" style="margin: 10px;"  alt="twinkler logo"></a>
                </div>
                <div class="span9">
                </div>
                <div class="account-settings span1">
                    <div class="profile-pic">
                        <a href="{{ path('tk_user_homepage') }}"><img src="{{ asset(app.user.picture.path) }}" class="img-circle" width="30px" style="margin: 10px;" alt="profile picture">
                        </a>
                    </div>
                    <div class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-caret-down"></i></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">                      
                        <li><a tabindex="-1" href="#">Account Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>                        
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% block header %}
        {% endblock %}
    </header>

    <section class="frame">
        <div class="container">

            {% block content %}
            {% endblock %}

        </div>
    </section>
{% endblock %}
