<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twinkler - Manage social events</title>
    <meta name="description" content="">
    <meta name="author" content="Twinkler team">
    <link href="{{ asset('bootstrap/css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/font.css') }}" rel="stylesheet">
    <link rel="icon"  type="image/png" href="{{ asset('img/logo/favicon.png') }}">
</head> 

<body>
    <div id="user-layout" class="row">
        <div class="span6 offset3">
            <h5>
                {% if app.session.get('invitation_id') != null %} Hello {{ app.session.get('invitation_member') }},</br> in order to join the group you need to login/register to Twinkler {% endif %}
            </h5>

            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <div>
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>
        </div>
    </div>
</body>
</html>